# created by virtualenv automatically
# Ignore virtual environment directories
venv/
env/
.idea/
Lib/
Scripts/
__pycache__/
.pyc
*.cfg

# Ignore pipenv's virtual environment
Pipfile.lock

# Ignore poetry's virtual environment
poetry.lock